
/* ====== Umum ======*/
body {
  font-family: "Poppins", Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f7f5f2;
  color: #333;
  line-height: 1.6;
}

/* ====== Header ====== */
header {
  background-color: #3b2f2f; /* warna kopi */
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

header h1 {
  margin: 0;
  font-size: 2em;
  letter-spacing: 1px;
}

header p {
  margin: 5px 0 15px;
  font-style: italic;
  color:#82bd53
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  background-color: #4a3f35;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  text-decoration: none;
  color: #f5f5f5;
  font-weight: 500;
  padding: 10px 15px;
  display: inline-block;
  transition: background-color 0.3s;
}

nav ul li a:hover {
  background-color: #c69c6d;
  border-radius: 5px;
  color: #fff;
}

/* ====== Konten Utama ====== */
main {
  padding: 20px;
  max-width: 1000px;
  margin: auto;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

h2, h3 {
  color: #4a3f35;
  border-left: 5px solid #c69c6d;
  padding-left: 10px;
}

/* ====== Tabel Produk ====== */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th {
  background-color: #c69c6d;
  color: white;
}

td, th {
  border: 1px solid #ddd;
  text-align: center;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

/* ====== Galeri ====== */
.galeri {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.card {
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  width: 250px;
  text-align: center;
}

.card img {
  width: 100%;
  height: 170px;
  object-fit: cover;
}

.card p {
  margin: 10px 0;
  padding: 0 10px;
  color: #4a3f35;
}

.card:hover {
  transform: translateY(-6px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

/* ====== Formulir Kontak ====== */

.judul-kontak {
  text-align: center;
}
form {
  background-color: #f7f5f2;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  max-width: 600px;
  margin: 20px auto;
}

label {
  font-weight: 600;
}

input, select, textarea, button {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background-color: #4a3f35;
  color: white;
  border: none;
  cursor: pointer;
  font-weight: 600;
}

button:hover {
  background-color: #c69c6d;
}



/* ====== Footer ====== */
footer {
  text-align: center;
  background-color: #3b2f2f;
  color: white;
  padding: 15px 0;
  margin-top: 30px;
  font-size: 0.9em;
  letter-spacing: 0.5px;
}

/* ====== Responsif ====== */
@media (max-width: 768px) {
  nav ul{
    flex-direction: column;
  }
  .galeri {
    flex-direction:column;
    align-items:center;
  }
  .card {
    max-width: 90%;
    width: 500px;
  }
  .card img {
    height: 250px;
  }
} 



